{% extends "template.html" %}
{% block content %}
<div class="container-fluid">


    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Data Transkip</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>PELAJARAN</th>
                            <th>NILAI UTS</th>
                            <th>NILAI UAS</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>PELAJARAN</th>
                            <th>NILAI UTS</th>
                            <th>NILAI UAS</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for dt in Nilai %}
                        <tr>
                            <td>
                                {{ dt[0] }}
                            </td>
                            <td>
                                {{ dt[1] }}
                            </td>
                            <td>
                                {{ dt[2] }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<script>
</Script>
{% endblock %}
